$formLinkColor: #3369F3;

.form-link{
    height: 11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    color: formLinkColor;
    text-decoration: none;
    margin-top: 10px;
}