.error_number{
    position: absolute;
    width: 80px;
    height: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    
    text-align: center;
    
    color: #1E1E1E;
}